<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ManagerApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"  >
        <a class="nav-link" routerLink = '/customers'>Customers</a>
      </li>
      <li class="nav-item"  >
        <a class="nav-link" routerLink = '/order'>Order</a>
      </li>
      
      <li class="nav-item"  (click) = 'loginOrOut()'>
        <a class="nav-link"  >{{ loginLogOutText }}</a>
      </li>
    </ul>
  </div>
</nav>
<!-- <router-outlet></router-outlet> -->
 <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ManagerApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"(click) = 'loadPage("customerspage")'>Customers
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click) = 'loadPage("orderspage")'>Order</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#" (click) = 'loadPage("loginpage")'>Login</a>
      </li>
    </ul>
  </div>
</nav> -->
