<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ call()+ ' ' + title  }}!
    <!-- {{num += num }} -->
  </h1>
  <button (click) = 'toggle()'>show/hide</button>
  <input type="text"  autocomplete="off" #username (blur) = 'blurfn(username.value)' (keyup.enter) = 'run($event.target.value)'   name='username' placeholder="username">
  
  <input type="text" name= 'lastname' [value] = 'lastname'>
  <input type="text"  autocomplete="off" (keyup.enter) = 'run($event.target.value)'   name='username' placeholder="age">
  <!-- <input type="text" #age name = 'age' (keyup) = 'age = $event.target'> -->
  <img [src]="srcVal" alt="">
  <select *ngIf = 'flag' (change) = 'run($event.target.value)'>
    <option *ngFor = 'let item of countries'>
        {{item}}
    </option>
  </select>
  <select *ngIf = 'flag' (change) = 'colorChange($event.target.value)'>
    <option *ngFor = 'let color of colors' >
        {{color}}
    </option>
  </select>
  <ul>
    <li *ngFor = 'let ans of answersArr; let i = index' >
        <label for="">{{'Answer ' +' ' + i}}</label>{{ans}}
    </li>
  </ul>
  
  <p [style.backgroundColor] = 'color'>background color for this text {{color}}{{inputVal}}</p>
  <!-- <p>{{age.value}}</p> -->
  <p>{{username.value}}</p>
  <form #loginDetails = 'ngForm'>
    <div>
      <input 
        type="text" 
        [(ngModel)] = 'phone' 
        required
        name = 'phone' >
    </div> 
    <div>
      <label for="pwd" [disabled] = 'loginDetails.controls?.password.invalid'>Must enter password to login </label>
      <input type="password" 
        id="pwd"
        [(ngModel)] = 'pwd' 
        required
        minlength="6"
        name = 'password'>
    </div>  
    <p>loginDetails.controls?.phone.valid : {{loginDetails.controls?.phone.valid}}</p>
    <p>loginDetails.controls?.phone.invalid : {{loginDetails.controls?.phone.invalid}}</p>
    <p>loginDetails.controls?.phone.pristine : {{loginDetails.controls?.phone.pristine}}</p>
    <p>loginDetails.controls?.phone.dirty : {{loginDetails.controls?.phone.dirty}}</p>
    <p>loginDetails.controls?.phone.touched : {{loginDetails.controls?.phone.touched}}</p>
    <p>loginDetails.controls?.phone.untouched : {{loginDetails.controls?.phone.untouched}}</p>
    <p>loginDetails.controls?.password.valid : {{loginDetails.controls?.password.valid}}</p>
    <p>loginDetails.controls?.password.invalid : {{loginDetails.controls?.password.invalid}}</p>
    <p>loginDetails.controls?.password.pristine : {{loginDetails.controls?.password.pristine}}</p>
    <p>loginDetails.controls?.password.dirty : {{loginDetails.controls?.password.dirty}}</p>
    <p>loginDetails.controls?.password.touched : {{loginDetails.controls?.password.touched}}</p>
    <p>loginDetails.controls?.password.untouched : {{loginDetails.controls?.password.untouched}}</p>
    <p>loginDetails.control.valid: {{loginDetails.control.valid}}</p>
    <p>loginDetails.control.invalid: {{loginDetails.control.invalid}}</p>
    <button [disabled] = 'loginDetails.control.invalid'>login</button>
  </form>
   
</div> 
