<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ call()+ ' ' + title  }}!
    <!-- {{num += num }} -->
  </h1>
  <button (click) = 'toggle()'>show/hide</button>
  <input type="text"  autocomplete="off" #username (blur) = 'blurfn(username.value)' (keyup.enter) = 'run($event.target.value)'   name='username' placeholder="username">
  
  <input type="text" name= 'lastname' [value] = 'lastname'>
  <input type="text"  autocomplete="off" (keyup.enter) = 'run($event.target.value)'   name='username' placeholder="age">
  <!-- <input type="text" #age name = 'age' (keyup) = 'age = $event.target'> -->
  <img [src]="srcVal" alt="">
  <select *ngIf = 'flag' (change) = 'run($event.target.value)'>
    <option *ngFor = 'let item of countries'>
        {{item}}
    </option>
  </select>
  <select *ngIf = 'flag' (change) = 'colorChange($event.target.value)'>
    <option *ngFor = 'let color of colors' >
        {{color}}
    </option>
  </select>
  <ul>
    <li *ngFor = 'let ans of answersArr; let i = index' >
        <label for="">{{'Answer ' +' ' + i}}</label>{{ans}}
    </li>
  </ul>
  
  <p [style.backgroundColor] = 'color'>background color for this text {{color}}{{inputVal}}</p>
  <!-- <p>{{age.value}}</p> -->
  <p>{{username.value}}</p>
  <form>
    <div>
      <input type="text" [(ngModel)] = 'phone' name = 'phone'>
    </div>  
    <p>{{phone}}</p>
  </form>
   
</div> 
