<div class="container">
    <app-menu (selectPageDetails) = 'recievePageLoadDetails($event)'></app-menu>
    <div *ngIf = 'showPage.loadCustomersPageFlag'>
        <app-customerscomponent></app-customerscomponent>
    </div>
    <div *ngIf = 'showPage.loadOrdersPageFlag'>
        <h3>orderpage</h3>
        <app-orders></app-orders>
    </div>
    <div *ngIf = 'showPage.loadLoginPageFlag'>
        <h3>loginpage</h3>
        <app-login></app-login>
    </div>
</div>
<router-outlet></router-outlet>